<p class="hide">
    <script type="text/javascript" src="Document.doc?id=7"></script>
</p>
<div id="internal" class="container threeCol">
    <div id="wrapUtility">
        <div class="gutter clearfix">
            <div id="utilityWrap" class="clearfix">
                <div id="search"><img alt="1 - Quick Search" src="https://www.rockhursths.edu/view.image?pane=1&amp;panename=1%20-%20Quick%20Search" title="1 - Quick Search" data-runat="server" data-template_pane="1" data-paneid="1" data-panedescription="Quick%20Search" /></div>
                <!-- end search -->
                <div id="utilityMenu"><img alt="2 - Audience Menu" src="https://www.rockhursths.edu/view.image?pane=2&amp;panename=2%20-%20Audience%20Menu" title="2 - Audience Menu" data-runat="server" data-template_pane="1" data-paneid="2" data-panedescription="Audience%20Menu" /></div>
                <!-- end utilityMenu -->
            </div>
            <!-- end utilityWrap -->
        </div>
    </div>
    <!-- end wrapUtility -->
    <div id="wrapContent">
        <div id="wrapHeader" class="clearfix">
            <div id="logo">
                <div class="gutter"><img alt="3 - Logo" src="https://www.rockhursths.edu/view.image?pane=3&amp;panename=3%20-%20Logo" title="3 - Logo" data-runat="server" data-template_pane="1" data-paneid="3" data-panedescription="Logo" /></div>
            </div>
            <!-- end logo -->
            <div id="headerNav">
                <div id="audienceNav" class="audienceNav">
                    <div class="gutter clearfix"><img alt="4 - Quicklinks and Social Media" src="https://www.rockhursths.edu/view.image?pane=4&amp;panename=4%20-%20Quicklinks%20and%20Social%20Media" title="4 - Quicklinks and Social Media" data-runat="server" data-template_pane="1" data-paneid="4" data-panedescription="Quicklinks%20and%20Social%20Media" /></div>
                </div>
                <!-- end audienceNav -->
            </div>
            <!-- end headerNav -->
            <div id="wrapNav">
                <div class="gutter"><img alt="5 - Main Navigation" src="https://www.rockhursths.edu/view.image?pane=5&amp;panename=5%20-%20Main%20Navigation" title="5 - Main Navigation" data-runat="server" data-template_pane="1" data-paneid="5" data-panedescription="Main%20Navigation" /></div>
            </div>
            <!-- end wrapNav -->
        </div>
        <!-- end wrapHeader -->
        <div id="wrapContentOuter">
            <div id="wrapContentInner">
                <div id="contentPrimary">
                    <div class="gutter clearfix">
                        <div id="wrapSectionPrimary">
                            <div class="sectionA">
                                <div class="gutter"><img alt="17 - Content Banner" src="https://www.rockhursths.edu/view.image?pane=17&amp;panename=17%20-%20Content%20Banner" title="17 - Content Banner" data-runat="server" data-template_pane="1" data-paneid="17" data-panedescription="Content%20Banner" /></div>
                            </div>
                            <div class="sectionA">
                                <div class="gutter"><img alt="6 - Content Breadcrumb" src="https://www.rockhursths.edu/view.image?pane=6&amp;panename=6%20-%20Content%20Breadcrumb" title="6 - Content Breadcrumb" data-runat="server" data-template_pane="1" data-paneid="6" data-panedescription="Content%20Breadcrumb" /></div>
                            </div>
                            <!-- end .sectionA -->
                            <div class="sectionB">
                                <div class="gutter"><img alt="7" src="https://www.rockhursths.edu/view.image?pane=7&amp;panename=7" title="7" data-runat="server" data-template_pane="1" data-paneid="7" data-panedescription="" /></div>
                            </div>
                            <div class="sectionC">
                                <div class="gutter"><img alt="8" src="https://www.rockhursths.edu/view.image?pane=8&amp;panename=8" title="8" data-runat="server" data-template_pane="1" data-paneid="8" data-panedescription="" /></div>
                            </div>
                        </div>
                        <div id="wrapSectionSecondary">
                            <div class="sectionA">
                                <div class="gutter"><img alt="9" src="https://www.rockhursths.edu/view.image?pane=9&amp;panename=9" title="9" data-runat="server" data-template_pane="1" data-paneid="9" data-panedescription="" /></div>
                            </div>
                            <div class="sectionB">
                                <div class="gutter"><img alt="10" src="https://www.rockhursths.edu/view.image?pane=10&amp;panename=10" title="10" data-runat="server" data-template_pane="1" data-paneid="10" data-panedescription="" /></div>
                            </div>
                            <!-- end .sectionB -->
                            <div class="sectionC">
                                <div class="gutter"><img alt="11" src="https://www.rockhursths.edu/view.image?pane=11&amp;panename=11" title="11" data-runat="server" data-template_pane="1" data-paneid="11" data-panedescription="" /></div>
                            </div>
                            <!-- end .sectionC -->
                        </div>
                        <!-- end #wrapSectionSecondary -->
                    </div>
                </div>
                <!-- end #contentPrimary -->
                <div id="contentSecondary">
                    <div class="gutter"><img alt="18 - Sidebar Image" src="https://www.rockhursths.edu/view.image?pane=18&amp;panename=18%20-%20Sidebar%20Image" title="18 - Sidebar Image" data-runat="server" data-template_pane="1" data-paneid="18" data-panedescription="Sidebar%20Image" /></div>
                    <div class="gutter"><img alt="12 - Sidebar Menu" src="https://www.rockhursths.edu/view.image?pane=12&amp;panename=12%20-%20Sidebar%20Menu" title="12 - Sidebar Menu" data-runat="server" data-template_pane="1" data-paneid="12" data-panedescription="Sidebar%20Menu" /></div>
                    <div class="gutterLower"><img alt="16 - Action Buttons" src="https://www.rockhursths.edu/view.image?pane=16&amp;panename=16%20-%20Action%20Buttons" title="16 - Action Buttons" data-runat="server" data-template_pane="1" data-paneid="16" data-panedescription="Action%20Buttons" /></div>
                </div>
                <!-- end #contentSecondary -->
            </div>
            <!-- end wrapcontentInner -->
        </div>
        <!-- end wrapContentOuter -->
        <div id="wrapFooter">
            <div class="bodyGutter clearfix">
                <div id="wrapCopyright">
                    <div class="gutter clearfix"><img alt="13 - Logo" src="https://www.rockhursths.edu/view.image?pane=13&amp;panename=13%20-%20Logo" title="13 - Logo" data-runat="server" data-template_pane="1" data-paneid="13" data-panedescription="Logo" /></div>
                </div>
                <div id="wrapFooterContact">
                    <div class="gutter clearfix"><img alt="14 - Slogan" src="https://www.rockhursths.edu/view.image?pane=14&amp;panename=14%20-%20Slogan" title="14 - Slogan" data-runat="server" data-template_pane="1" data-paneid="14" data-panedescription="Slogan" /></div>
                </div>
                <div id="wrapFooterBottom">
                    <div class="gutter"><img alt="15 - Address and Menu" src="https://www.rockhursths.edu/view.image?pane=15&amp;panename=15%20-%20Address%20and%20Menu" title="15 - Address and Menu" data-runat="server" data-template_pane="1" data-paneid="15" data-panedescription="Address%20and%20Menu" /></div>
                    <!-- end socialMediaNav -->
                </div>
                <div id="socialMediaButtons" class="audienceNav">
                    <ul class="menu">
                        <li class=" menuItem2 facebook"><a title="Facebook" href="http://www.facebook.com/pages/Rockhurst-High-School/156062314453798" target="_blank">Facebook</a></li>
                        <li class=" menuItem3 twitter"><a title="Twitter" href="http://twitter.com/RockhurstHS" target="_blank">Twitter</a></li>
                        <li class="menuItem4 last youtube"><a title="Youtube" href="http://www.youtube.com/user/RockhurstHS" target="_blank">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // <![CDATA[
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-46188641-1', 'rockhursths.edu');
    ga('send', 'pageview');
    // ]]>
</script>